---
import Layout from "../layouts/Layout.astro";
import Tryit from "../components/Tryit.astro";
import Install from "../components/Install.astro";
---

<Layout title="streaming-json">
	<main class="space-y-20">
		<Tryit />
		<Install />
	</main>
</Layout>
