---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import Team from "../components/Team.astro";
import Tryit from "../components/Tryit.astro";
import Contact from "../components/Contact.astro";
import Install from "../components/Install.astro";
---

<Layout title="Positivus">
	<main class="space-y-20">
		<Tryit />
		<Install />
	</main>
</Layout>
