---
import Container from "./Container.astro";
import Topic from "./Topic.astro";
---

<Container>
    <div class="relative flex flex-col items-center md:flex-row" id="install">
        <Topic
            title="Install"
            description="We provide libraries in various languages to facilitate seamless integration with your project."
        />
    </div>

    <div
        class="w-full my-10 p-10 bg-zinc-900 rounded-[45px] justify-start items-start gap-16 inline-flex text-white"
    >
        <div
            class="grid grid-cols-1 gap-2 divide-x-0 md:divide-x divide-y md:divide-y-0"
        >
            <div
                class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2"
            >
                <div class="w-full text-lg font-normal">For Python:</div>
                <code
                    class="text-zinc-900 border border-lime bg-lime p-2 rounded-2xl"
                    >pip install streamingjson</code
                >
                <div class="justify-start items-center gap-[15px] inline-flex">
                    <div class="text-lime text-xl font-normal leading-7">
                        <a
                            href="https://github.com/karminski/streaming-json-py"
                            target="_blank">Learn more</a
                        >
                    </div>
                    <a
                        href="https://github.com/karminski/streaming-json-py"
                        target="_blank"
                        ><img src="/services/agc.svg" alt="arrow" /></a
                    >
                </div>
            </div>
        </div>

        <!-- <div class="w-[186px] h-[0px] origin-top-left rotate-90 border border-white"></div> -->
        <!-- <div class="w-[186px] h-[0px] origin-top-left rotate-90 border border-white"></div> -->
    </div>

    <div class="w-full my-10 p-10 bg-zinc-900 rounded-[45px] justify-start items-start gap-16 inline-flex text-white">
        <div class="grid grid-cols-1 gap-2 divide-x-0 md:divide-x divide-y md:divide-y-0">
            <div class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2">
                <div class="w-full text-lg font-normal">For JavaScript:</div>
                <code
                    class="text-zinc-900 border border-lime bg-lime p-2 rounded-2xl"
                    >npm i streaming-json</code
                >
                <div class="justify-start items-center gap-[15px] inline-flex">
                    <div class="text-lime text-xl font-normal leading-7">
                        <a
                            href="https://github.com/karminski/streaming-json-js"
                            target="_blank">Learn more</a
                        >
                    </div>
                    <a
                        href="https://github.com/karminski/streaming-json-js"
                        target="_blank"
                        ><img src="/services/agc.svg" alt="arrow" /></a
                    >
                </div>
            </div>
        </div>
    </div>

        <!-- <div class="w-[186px] h-[0px] origin-top-left rotate-90 border border-white"></div> -->
        <!-- <div class="w-[186px] h-[0px] origin-top-left rotate-90 border border-white"></div> -->
        <div
            class="w-full my-10 p-10 bg-zinc-900 rounded-[45px] justify-start items-start gap-16 inline-flex text-white"
        >
            <div
                class="grid grid-cols-1  gap-2 divide-x-0 md:divide-x divide-y md:divide-y-0"
            >
                <div
                    class="flex-col items-start gap-5 inline-flex px-2 md:px-6 py-6 md:py-2"
                >
                    <div class="w-full text-lg font-normal">For Golang:</div>
                    <code
                        class="text-zinc-900 border border-lime bg-lime p-2 rounded-2xl"
                        >go install github.com/karminski/streaming-json-go@latest</code>
                    <div
                        class="justify-start items-center gap-[15px] inline-flex"
                    >
                        <div class="text-lime text-xl font-normal leading-7">
                            <a
                                href="https://github.com/karminski/streaming-json-go"
                                target="_blank">Learn more</a
                            >
                        </div>
                        <a
                            href="https://github.com/karminski/streaming-json-go"
                            target="_blank"
                            ><img src="/services/agc.svg" alt="arrow" /></a
                        >
                    </div>
                </div>
            </div>

            <!-- <div class="w-[186px] h-[0px] origin-top-left rotate-90 border border-white"></div> -->
            <!-- <div class="w-[186px] h-[0px] origin-top-left rotate-90 border border-white"></div> -->
        </div>
    </div>
</Container>
