---
import Container from "./Container.astro";
import Topic from "./Topic.astro";
---

<Container>
    <div class="relative flex flex-col items-center md:flex-row" id="tryit">
        <Topic
            title="Try it!"
            description="Streaming-json can parse JSON stream fragments in real-time and complete them into syntactically correct JSON for downstream use."
        />
    </div>

    <div
        class="flex-row items-center my-10 p-14 bg-zinc-900 text-white rounded-[45px] grid grid-cols-1 gap-6"
    >
        <div class="w-full text-lg font-normal">Input JSON fragment here:</div>
        <textarea
            id="jsonfragment"
            class="justify-items-center bg-zinc-900 relative w-full border border-lime p-4 rounded-2xl"
            rows="10"
            autofocus>&lbrace;&quot;field</textarea
        >
        <div class="w-full text-lg font-normal">
            And streaming-json will complete it to:
        </div>
        <textarea
            id="compltedjson"
            class="justify-items-center bg-zinc-900 text-lime relative w-full border border-lime p-4 rounded-2xl"
            rows="10"
            readonly
            autofocus>&lbrace;&quot;field</textarea
        >
    </div>
</Container>
